[Unit]
Description=Exam .NET API
After=network.target

[Service]
WorkingDirectory=/var/www/app
ExecStart=/usr/bin/dotnet /var/www/app/ExamApi.dll
Restart=always
RestartSec=10
User=www-data
Environment=HOME=/var/www/app
Environment=DOTNET_CLI_HOME=/var/www/app
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
